In [13]:
import pandas as pd
import numpy as np
from collections import OrderedDict, defaultdict

In [14]:
dict_data = {
    'Just My Luck':{'Claudia Puig':3.0, 'Lisa Rose':3.0, 'Mick LaSalle':2.0},
    'Lady in the Water':{'Gene Seymour':3.0, 'Jack Matthews':3.5, 'Lisa Rose':2.5,'Mick LaSalle':3.0},
    'Snakes on a Plane':{'Claudia Puig':3.5, 'Gene Seymour':3.5, 'Jack Matthews':4.0, 'Lisa Rose':3.5, "Mick LaSalle":4.0, 'Toby':4.5},
    'Superman Returns':{'Jack Matthews':5.0, 'Lisa Rose':3.5, 'Mick LaSalle':3.0, 'Toby':4.0},
    'The Night Listener':{'Claudia Puig':4.5, 'Gene Seymour':3.0, 'Jack Matthews':3.0, "Lisa Rose":3.0, 'Mick LaSalle':3.0},
    'You Me and Dupree':{'Gene Seymour':3.5, 'Jack Matthews':3.5, 'Lisa Rose':2.5}
}
matrix1 = pd.DataFrame(dict_data)
matrix1

,Just My Luck,Lady in the Water,Snakes on a Plane,Superman Returns,The Night Listener,You Me and Dupree
Claudia Puig,3.0,NaN,3.5,NaN,4.5,NaN
Gene Seymour,NaN,3.0,3.5,NaN,3.0,3.5
Jack Matthews,NaN,3.5,4.0,5.0,3.0,3.5
Lisa Rose,3.0,2.5,3.5,3.5,3.0,2.5
Mick LaSalle,2.0,3.0,4.0,3.0,3.0,NaN
Toby,NaN,NaN,4.5,4.0,NaN,NaN

In [15]:
origin_data = pd.read_csv('movie_rating.csv').sort_values(["target", "source"])
origin_data.head()

           source             target  rating
11   Claudia Puig       Just My Luck     3.0
15      Lisa Rose       Just My Luck     3.0
7    Mick LaSalle       Just My Luck     2.0
21   Gene Seymour  Lady in the Water     3.0
0   Jack Matthews  Lady in the Water     3.0

In [33]:
data=origin_data.to_dict('split')['data']
data

[['Claudia Puig', 'Just My Luck', 3.0],
 ['Lisa Rose', 'Just My Luck', 3.0],
 ['Mick LaSalle', 'Just My Luck', 2.0],
 ['Gene Seymour', 'Lady in the Water', 3.0],
 ['Jack Matthews', 'Lady in the Water', 3.0],
 ['Lisa Rose', 'Lady in the Water', 2.5],
 ['Mick LaSalle', 'Lady in the Water', 3.0],
 ['Claudia Puig', 'Snakes on a Plane', 3.5],
 ['Gene Seymour', 'Snakes on a Plane', 3.5],
 ['Jack Matthews', 'Snakes on a Plane', 4.0],
 ['Lisa Rose', 'Snakes on a Plane', 3.5],
 ['Mick LaSalle', 'Snakes on a Plane', 4.0],
 ['Toby', 'Snakes on a Plane', 4.5],
 ['Jack Matthews', 'Superman Returns', 5.0],
 ['Lisa Rose', 'Superman Returns', 3.5],
 ['Mick LaSalle', 'Superman Returns', 3.0],
 ['Toby', 'Superman Returns', 4.0],
 ['Claudia Puig', 'The Night Listener', 4.5],
 ['Gene Seymour', 'The Night Listener', 3.0],
 ['Jack Matthews', 'The Night Listener', 3.0],
 ['Lisa Rose', 'The Night Listener', 3.0],
 ['Mick LaSalle', 'The Night Listener', 3.0],
 ['Gene Seymour', 'You Me and Dupree', 3.5],
 ['Jack Matthews', 'You Me and Dupree', 3.5],
 ['Lisa Rose', 'You Me and Dupree', 2.5]]

In [40]:
dict_data = defaultdict(list)
[dict_data[movie].append({user:rating}) for user, movie, rating in origin_data.to_dict('split')['data']]

dict_data.items()

dict_items([('Just My Luck', [{'Claudia Puig': 3.0}, {'Lisa Rose': 3.0}, {'Mick LaSalle': 2.0}]), ('Lady in the Water', [{'Gene Seymour': 3.0}, {'Jack Matthews': 3.0}, {'Lisa Rose': 2.5}, {'Mick LaSalle': 3.0}]), ('Snakes on a Plane', [{'Claudia Puig': 3.5}, {'Gene Seymour': 3.5}, {'Jack Matthews': 4.0}, {'Lisa Rose': 3.5}, {'Mick LaSalle': 4.0}, {'Toby': 4.5}]), ('Superman Returns', [{'Jack Matthews': 5.0}, {'Lisa Rose': 3.5}, {'Mick LaSalle': 3.0}, {'Toby': 4.0}]), ('The Night Listener', [{'Claudia Puig': 4.5}, {'Gene Seymour': 3.0}, {'Jack Matthews': 3.0}, {'Lisa Rose': 3.0}, {'Mick LaSalle': 3.0}]), ('You Me and Dupree', [{'Gene Seymour': 3.5}, {'Jack Matthews': 3.5}, {'Lisa Rose': 2.5}])])